.accessibility-links-container{
    position:relative
}

.screen-reader-text,a.skip-link{
    position:absolute;
    left:-9000px;
    font-size:.9em
}

a.skip-link{
    z-index:10;
    white-space:nowrap;
    top:0
}

a.skip-link:focus{
    left:0;
    position:static
}

/* top bar */
#IPLeiria-top-bar {
    background-color: #40413E;
    color: #fff;
}

#IPLeiria-top-bar .wrapper{
    border-bottom:1px solid #e5e6e5
}

#IPLeiria-top-bar ul{
    list-style:none;
    margin:0;
    padding: 0
}

#IPLeiria-top-bar>ul{
    width:80%
}


#IPLeiria-top-bar ul li{
    vertical-align: top;
}

#IPLeiria-top-bar form,
#IPLeiria-top-bar input,
#IPLeiria-top-bar ul li{
    display:inline-block
}

#IPLeiria-top-bar form{
    line-height: 2.2em;
}

#IPLeiria-top-bar a{
    text-transform:uppercase;
    line-height:3em;
    padding:.45em;
    margin-right:10px
}

#IPLeiria-top-bar a,
#IPLeiria-top-bar input{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#fff;
    font-size:.85em
}

#IPLeiria-top-bar  #ipleiria-bar{
    margin-right:5px
}

#IPLeiria-top-bar #ipleiria-bar:after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    border-bottom: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}

.navbar-default #IPLeiria-top-bar .navbar-nav>.dropdown>a .caret,
.navbar-default #IPLeiria-top-bar .navbar-nav>.open>a .caret, 
.navbar-default #IPLeiria-top-bar .navbar-nav>.open>a:hover .caret, 
.navbar-default #IPLeiria-top-bar .navbar-nav>.open>a:focus .caret{
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}

#IPLeiria-top-bar #ipleiria-bar:after,
#IPLeiria-top-bar #ipleiria-bar:hover:after{
    text-decoration:none
}

#IPLeiria-top-bar #IPLeiria-top-bar-search{
    border-color:transparent;
    background-color:transparent
}

#IPLeiria-top-bar #IPLeiria-top-bar-search:focus{
    border-color:#fff;
    background-color:#fff;
    color:#545454
}

#IPLeiria-top-bar input{
    padding:0
}

#IPLeiria-top-bar input::-webkit-input-placeholder{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#fff;
    text-transform:uppercase
}

#IPLeiria-top-bar input:-moz-placeholder,#IPLeiria-top-bar input::-moz-placeholder{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#fff;
    text-transform:uppercase
}

#IPLeiria-top-bar input:-ms-input-placeholder{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#fff;
    text-transform:uppercase
}

#IPLeiria-top-bar #language-bar{
    width:20%;
    text-align:right
}

#IPLeiria-top-bar #language-bar abbr{
    border-bottom:0 none;
    cursor:pointer
}

#IPLeiria-top-bar #language-bar .current-lang{
    font-weight:700
}

#IPLeiria-top-bar #language-bar ul{
    line-height:2.5em
}

#IPLeiria-top-bar #language-bar ul li a{
    line-height:1em;
    padding:0 5px 0 0;
    border-right:1px solid #fff;
    margin-right: 1px;
    display: inline-block;
}

#IPLeiria-top-bar #language-bar ul li:last-child a{
    border-right:0 none;
    margin-right:0;
    padding-right:0
}

#ipleiria-bar-panel,
#ipleiria-footer-panel{
    width:100%;
    height:0;
    overflow:hidden;
    display:block;
    margin: 0;
    padding: 0;
    border: 0
}

.user-abbr:after{
    content: attr(title);
    display: inline
}

.user-abbr,
.user-abbr[title]{
    cursor: default;
    border-bottom: 0 none;
}

.user-abbr .inner-abbr{
    display: none;
}

@media (max-width:400px){
    #IPLeiria-top-bar #IPLeiria-top-bar-search{
        width:70px
    }
    .navbar-default #IPLeiria-top-bar .navbar-nav>.dropdown>a .caret{
        display: none
    }
    #IPLeiria-top-bar #ipleiria-bar:after{
        float: none
    }
    
    .user-abbr:after{
        display: none;
    }
    .user-abbr .inner-abbr{
        display: inline;
    }
}

.main-menu{
    margin-top: 45px
}

@media (max-width: 767px){
    .main-menu{
        margin-top: 0
    }
}

/* overrides */
.navbar{
    margin-bottom: 0
}

.banner img{
    margin: 0;
    padding: 0 15px
}

#IPLeiria-top-bar .nav>li>a{
    display: inline;
}

@media (min-width: 768px) {
    #IPLeiria-top-bar .navbar-nav > li {
        float: none;
    }
}

#IPLeiria-top-bar .nav li li{
    display: block;
}

.dropdown-menu{
    color: #FFF;
    padding-top: 0;
    background-color: #40413E;
    border: 0 none;
    padding: 0;
}
.dropdown-header{
    padding: 3px 20px;
    font-size: 0.9em;
    line-height: 2em;
    font-weight: bold;
    color: #e5e6e5
}
@media (max-width: 767px){
    .navbar-nav .open .dropdown-menu {
        background-color: #40413E;
    }
}

.dropdown-menu .divider{
    background-color: #939598
}
.dropdown-menu .divider+.dropdown-header{
    margin-bottom: 8px
}


#IPLeiria-top-bar .dropdown-menu>li>a,
.dropdown-menu>li>a{
    color: #fff;
    background-color: #40413E;
    border-top: 1px solid #939598;
    text-transform: none;
    margin-right: 0;
    padding: 3px 20px;
    line-height: 2em;
    font-size: 1em
}

#IPLeiria-top-bar .dropdown-menu>li:first-child>a,
.dropdown-menu>li:first-child>a{
    border-top: 0 none;
}

#IPLeiria-top-bar .navbar-default .navbar-nav>.open>a, 
#IPLeiria-top-bar .navbar-default .navbar-nav>.open>a:hover, 
#IPLeiria-top-bar .navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    color: #EC0044;
    background-color: transparent;
}

#IPLeiria-top-bar .dropdown-menu>li>a:hover, 
#IPLeiria-top-bar .dropdown-menu>li>a:focus, 
#IPLeiria-top-bar .dropdown-menu>.active>a, 
#IPLeiria-top-bar .dropdown-menu>.active>a:hover, 
#IPLeiria-top-bar .dropdown-menu>.active>a:focus,
.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus, 
.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:hover, 
.dropdown-menu>.active>a:focus {
    background-color: #EC0044;
    color: #fff;
    background-image: none;
    filter: none;
}

ol.breadcrumb li,
ol.breadcrumb li a{
    color: #545454;
}